html {
    background-color: #020659;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    min-width: 375px;
}

nav li {
    list-style:none;
}

nav a {
    background-color: #020873;
    text-align: center;
    text-transform:uppercase;
}

nav a:hover {
    background-color: #590242;
}

#smoothJazz {
    background-color: linear-gradient(#030A8C to #000000);
}

h3 {
    color:#590242;
    text-transform:uppercase;
}
