html {
    background-color: #020659;
    
}

header {
    background: linear-gradient(to left, #000000, #030A8C);
    padding-left: 20px;
    width: 355px;
}

main {
    background-color: #FFFFFF;
    width: 375px;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    width: 375px;
    margin: 0 auto;
    display: grid;
}

nav {
    grid-row: 1/2;
    
}

nav li {
    list-style:none;
    
}

ul {
    display: grid;
    grid-template-columns: 1fr;
    width: 375px;
    position: relative;
    
}

input {
    display: none;
}

nav a {
    background-color: #020873;
    text-align: center;
    text-transform:uppercase;
    margin: 10px;
    padding: 10px;
}

nav a:hover {
    background-color: #590242;
}

aside {
    background-color: #590242;
    color:#FFFFFF;
    padding: 10px;
    width: 140px;
    margin: 30px;
    text-align: center;
    border-radius: 10px;
}

.scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 375px;
    overflow-x: scroll;
    overflow-y:hidden;
    background-color: #FFFFFF;
    text-align: left;
}

.scroll div {
    position:absolute;
    top: 250px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 300px;
}

audio {
    position: relative;
    bottom: 160px;
    left: 5px;
}

#trendingSongs section {
    margin: 5px;
    position:relative;
}

#trendingSongs h3 {
    color:#590242;
    font-size: 1em;
}

#yourPlaylists {
    background-color: #2699FB;
}

#yourPlaylists section {
    margin: 15px;
    padding: 15px;
    background-color: #0D8DFB;
}

.yourScroll {
    display: grid;
    width: 375px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow-x: scroll;
    text-align: center;
    column-gap: 5px;
}

#curatedPlaylists {
    background-color: #030A8C;
}

#curatedPlaylists section {
    margin: 15px;
    padding: 15px;
    background-color: #020873;
}

.curatedScroll {
    display: grid;
    width: 375px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow-x: scroll;
    text-align: center;
    column-gap: 5px; 
}

h2 {
    background-color: #FFFFFF;
    color:#590242;
    text-transform:uppercase;
    padding-left: 20px;
    font-size: 1em;
    padding-bottom: 10px;
}

h3 {
    color:#FFFFFF;
    text-transform: uppercase;
    font-size: 1em;
}

dl {
    display: flex;
}

dt {
    color:#590242;
    font-style: italic;
    font-size: 1em;
}

dd {
    color:#590242;
    font-size: 1em;
}

footer {
    background-color: #FFFFFF;
    color:#590242;
    text-align: center;
    font-size: 0.75em;
    width: 375px;
}

#trendingSongs ::-webkit-scrollbar {
    width: 15px;
}

#trendingSongs ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}

#trendingSongs ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}

#trendingSongs ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}

#yourPlaylists ::-webkit-scrollbar {
    width: 15px;
}

#yourPlaylists ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #020659;
}

#yourPlaylists ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}

#yourPlaylists ::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF;
}

#curatedPlaylists ::-webkit-scrollbar {
    width: 15px;
}

#curatedPlaylists ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #020659;
}

#curatedPlaylists ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}

#curatedPlaylists ::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF;
}

.menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

.menu-icon .navicon:before
.menu-icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.menu-icon .navicon:before {
    top: 5px;
}

.menu-icon .navicon:after {
    top: -5px;
}

.menu-btn {
    display: none;
}

.menu-btn:checked ~.menu {
    max-height: 500px;
}

.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media screen and (min-width: 834px) {

    ul {
        width:fill;
        position: absolute;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    main {
        margin-left: 200px;
    }
    .menu, .navicon {
        display:none;
    }   
    #trendingSongs {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    #yourPlaylists {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #curatedPlaylists {
        grid-column-start: 3;
        grid-column-end: 4;
    }



}