html {
    background-color: #020659;
}

body {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: #FFFFFF;
}

#smoothJazz {
    background-color: linear-gradient(#030A8C to #000000);
}

h3 {
    color:#590242;

}
